 body {
            background-color: red;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
.container {
    text-align: center;
    max-width: 800px; /* Limit width of content */
    overflow: hidden;
}

h1 {
 color:blue; 
 }
h2 { 
color: black; 
} 
h3  {
 color: yellow;
  }  
h5{
color: white;
}
